@font-face {
    font-family: 'Golos';
    src: local('Golos Text Regular'), local('GolosText-Regular'),
    url('golostext/Golostextregular.woff2') format('woff2'),
    url('golostext/Golostextregular.woff') format('woff'),
    url('golostext/Golostextregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Golos';
    src: local('Golos Text Medium'), local('GolosText-Medium'),
    url('golostext/Golostextmedium.woff2') format('woff2'),
    url('golostext/Golostextmedium.woff') format('woff'),
    url('golostext/Golostextmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Golos';
    src: local('Golos Text DemiBold'), local('GolosText-DemiBold'),
    url('golostext/Golostextdemibold.woff2') format('woff2'),
    url('golostext/Golostextdemibold.woff') format('woff'),
    url('golostext/Golostextdemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Golos';
    src: local('Golos Text Bold'), local('GolosText-Bold'),
    url('golostext/Golostextbold.woff2') format('woff2'),
    url('golostext/Golostextbold.woff') format('woff'),
    url('golostext/Golostextbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Golos';
    src: local('Golos Text Black'), local('GolosText-Black'),
    url('golostext/Golostextblack.woff2') format('woff2'),
    url('golostext/Golostextblack.woff') format('woff'),
    url('golostext/Golostextblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}