# Настройка кодировки
<filesMatch ".(html|css|js)$">
AddDefaultCharset UTF-8
</filesMatch>

##
# Использование кеширование браузера
##

## Добавление Cache-Control заголовков в Apache
#<FilesMatch "\.(txt|xml|js|css|svg|gif|png|jpg|ico|pdf|flv|jpeg|gif|swf|woff2|woff)$">
#    Header set Cache-Control "public, must-revalidate, max-age=864000"
#</FilesMatch>